
/*****************CSS of header part*****************/


header {
    padding: 1em;
    color: white;
    height: 692px;
    
    background-image: url("../images/Header_Background.png");
    clear: left;
    text-align: center;
}

.topnav {
  overflow: hidden;
  
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar-header {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}


.btn-transparent{

background-color: transparent !important;
border: 2px solid #ccc !important;
border-style: dashed !important;
text-shadow: none;
color: #FFF !important;

}

.buttontext{
background-color: orange !important;
border: 2px solid #ccc !important;
border-style: solid !important;
text-shadow: none;
color: #FFF !important;
text-align: center;

}

.foodtext{

  text-align: center;
  font-family: Myriad Pro;
  padding-top: 280px;
  padding-bottom: 15px;
}
.searchinput{

  width: 580px;
  height: 70px;

}
input[type='text'] {
    background-image: url(../images/Search_icon.png);
    background-position: right;
    background-repeat: no-repeat;
    text-align: left;
    background-size: contain;
    border-radius: 35px;
    color: #CCC;
}

/*****************CSS of body part*****************/
 
 #mainContaint {
   padding: 0em 5em;
   color: white;
   height: auto;
    
   clear: left;
 }
     /********** CSS of body_part1 ***********/
     #body_part1{
       padding: 1em;
       color: white;
       height: 390px;
       background-color: #0b0b0b;   
       
     }

    #our_product{
      font-family: -webkit-body;
      border-bottom: 0.5px solid #2c2c2c;
    }

    #our_product_bottom{
      padding: 2em;
    }

    #our_product_bottom .ResizePic{
      width: 200px;
      float: left;
      margin-right: 2em;
      font-family: -webkit-body;
      text-align: center;
    }

    #our_product_bottom .ResizePic .btnAddToCart{
      background-color: #ea4808;
      width:100px;
      height: 30px;
      font-family: -webkit-body;
      border: none;
    }

    #our_product_bottom .ResizePic .img{
      width: 190px;
      height: 190px;
    }


    /********** CSS of body_part2 **********/
    #body_part2{
      padding: 1em;
      color: white;
      height: 230px;

     
     
    }

    #body_middle_pic{
      background-image: url(../images/body_middle_pic.png);
      background-repeat: no-repeat;
      text-align: -webkit-center;
      width: 700px;
      height: 150px;
      margin: 0 auto;
    }

    /********** CSS of body_part3 **********/
    #body_part3{
      
      color: white;
      height: auto;
      border-top: 1px solid #c8c8c8;
     
    }

        #body_part3_1{
          width: 550px;
          display: flex; 
          padding: 1em;
          color: white;      
          border-right: 1px solid #c8c8c8;
        }           
            
            #body_part3_1_1{   
                       
            float: left;
            width: 250px;
            height: 500px;
            margin-right: 1em;
            background-image: url(../images/body3part_pic1.png);
            padding: 100px 0px 0px 50px;
            font-family: cursive;

            }

            #body_part3_1_2{

            height: 500px;
            
            }

            #body3part_pic2{
              background-image: url(../images/body3part_pic2.png);
              width: 250px;
              height: 280px;
              margin-bottom: 1em;
               padding: 100px 0px 0px 50px;
            font-family: cursive;
            }

            #body3part_pic3{
              background-image: url(../images/body3part_pic3.png);
              width: 250px;
              height: 205px;
               padding: 40px 0px 0px 50px;
            font-family: cursive;
            }

        #body_part3_2{
          width: 300px;
          color: gray;      
          padding: 1em;
        }

         #body_part3_2_1{
          display: flex;
              color: gray;
              font-family: monospace;
              border-bottom: 0.5px solid #c8c8c8;
            }

/*****************CSS of footer part*****************/

footer {
    padding: 1em;
    color: white;
    height: 350px;
   
    background-image: url("../images/Footer.png");
    clear: left;
    text-align: center;
}

.socialicon{
	padding-top:25px;
	text-align:center;
	}

  .address{
  padding-top:85px;
  text-align:center;
  font-family: Myriad Pro;
  font-size: 18px;

  }
	
.bottom{
	padding-top:50px;
	text-align:center;
  color:#999;
  font-family: Myriad Pro;
	}



