
/*****************CSS of header part*****************/


header {
    padding: 1em;
    color: white;
    height: 650px;
    
    background-image: url("../images/Header_Background.png");
    clear: left;
    text-align: center;
}

.topnav {
  overflow: hidden;
  
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.navbar-header {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}

  
.btn-transparent{

background: transparent !important;
border: 2px solid #ccc !important;
border-style: dashed !important;
text-shadow: none;
color: #FFF !important;

}

.buttontext{
background-color: orange !important;
border: 2px solid #ccc !important;
border-style: solid !important;
text-shadow: none;
color: #FFF !important;
text-align: center;

}

.foodtext {

  text-align: center;
  font-family: monospace;
  padding-top: 250px;
  padding-bottom: 15px;
}
.foodtextafter{
font-family: monospace;
font-color: #CCC;
font-size: 13px;

}

.searchinput{

  width: 580px;
  height: 70px; 
  color: #CCC;

}


input[type='text'] {
    background-image: url(../images/Search_icon.png);
    background-position: right;
    background-repeat: no-repeat;
    text-align: left;
    background-size: contain;
    border-radius: 35px;
    color: black;
    border-style: groove;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CCC;
  padding-left: 35px;
  font-size: 15px;
  font-family: monospace;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
  padding-left: 35px;
  font-size: 15px;
  font-family: monospace;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CCC;
  padding-left: 35px;
  font-size: 15px;
  font-family: monospace;
}
:-moz-placeholder { /* Firefox 18- */
  color: #CCC;
  padding-left: 35px;
  font-size: 15px;
  font-family: monospace;
}
    #our_product{
      font-family: monospace;
      border-bottom: 0.5px solid #2c2c2c;
    }

    /********** CSS of body_part2 **********/
    #body_part2{
      padding: 1em;
      color: white;
      height: 200px;
      background-color: #ccf8f9;  
     
    }

    /********** CSS of body_part3 **********/
    #body_part3{
      padding: 1em;
      color: white;
      height: 639px;
      background-color: #05bec4;  
     
    }

/*****************CSS of footer part*****************/

footer {
    padding: 1em;
    color: white;
    height: 350px;
   
    background-image: url("../images/Footer.png");
    clear: left;
    text-align: center;
}

.socialicon{
	padding-top:25px;
	text-align:center;
	}

  .address{
  padding-top:85px;
  text-align:center;
  font-family: Myriad Pro;
  font-size: 18px;

  }
	
.bottom{
	padding-top:50px;
	text-align:center;
  color:#999;
  font-family: Myriad Pro;
	}




